body {
  margin: 24px;
  text-align: center;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Mplus 1p','Arial', sans-serif;
}

.text {
  font-size: 2rem;
}

.motto {
  font-style: italic;
  border-bottom: 1px solid #606c79;
  height: 30px;
  width: fit-content;
  margin: 0 auto;
}
